h1{
    background-image: url("https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(webp)/origin-imgresizer.eurosport.com/2024/08/03/4017702-81491688-2560-1440.jpg");
    color: white;
    text-align: center;
}

section{
    background-color: #E3D2C1;
    border-radius: 10px;
    padding: 0.5em;
    margin: 20px;
}

article{
    background-color: #E3D2C1;
    border-radius: 10px;
    text-align: center;
    padding: 0.5em;
    margin: 20px;
}
img{
    border-radius: 10px;
}

iframe{
    ali
}

